button {
    color: rgb(255, 2, 2);
    background-color: rgb(0, 0, 0);
}

.nig {
    background-color: black;
}


.par-id {
    color: #ff0000;
}

.greentext {
    color: #50af23;
}

p {
    color: aquamarine;
}